div.column{
    padding-top: 70px;
    width: 48.0%;
}
div.column ul {
    list-style: none;
    padding: 0;
}
div.live-realty{
    background: url('../img/left-arrow.jpg') no-repeat top right;
    float: left;
    text-align: right;
}
div.commerce-realty{
    background: url('../img/right-arrow.jpg') no-repeat top left;
    float:right;
}
a{
    color: #ffae00;
}
.new-offers-container h4{
    text-transform: uppercase;
    text-align: center;
}
.offers{
    list-style: none;
    padding: 0;
    text-align: center;
 }
.offers li{
    display: inline-block;
    padding-left: 10px;
}
.offers li div{
    text-align: right;
}
div.img-container{
    position: relative;
    float: left;
}
div.item-description{
    position: relative;
    padding-left: 228px;
}
.realty-price{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: #ffae00;
    width: 60%;
    text-align: right;
    font-weight: bold;
}
.part-title{
    font-size: 24px;
    text-align: center;
}
.search-box, .detail-title {
    border: 1px solid #ffae00;
    margin-bottom: 20px;
}
.search-box label{
    color: #ffae00;
}
table.search-filter{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
table.search-filter > tbody > tr > td{
    border: none; !important;
}
div.detail-button{
    position: absolute;
    left: 80%;
}
div.item-realty{
    margin-bottom: 5px;
    width: 49%;
    float: left;
    height: 210px;
}
.pagination > li > a {
    color: #ffae00;
}
.pagination > .active > a {
    background-color: #ffae00;
    border-color: #ffae00;
}
.pagination > .active > a:hover {
    background-color: #777;
    border-color: #777;
}
.summary{
    margin-bottom: 10px;
}
.detail-title{
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #ffae00;
}
.detail-text{
    margin-top: -10px;
}
.detail-extra{
    margin-top: 20px;
}
.detail-extra-table{
    width: 100%;
}
.detail-extra-table > tbody > tr{
    border-bottom: 1px solid #ffae00;
}
.detail-extra-table > tbody > tr > td{
    padding: 5px;
}
.detail-extra-table > tbody > tr > td:first-child{
    color: #ffae00;
    text-transform: uppercase;
}
ul.navbar-nav{
    display: inline-block;
    float: none;
}
ul.navbar-nav li {
    display: inline-block;
}
